.show-mob{
	display: none;
}
.hide-mob{
	display: inline-block;
}
.header{
	background: #f2f2f2;
	position: fixed;
	z-index: 999;
	width: 100%;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.1)
}
.main-logo{
	padding: 20px 0 !important
}
.logo{
	width: 120px
}
.first{
	transform: translateY(0);
}
.second{
	transform: translateY(-110px);
}
.top{
	margin-top: 185px
}
.top-about{
	margin-top: 200px
}
.anim{
	transition-duration: 0.3s
}
.small{
	width: 80px;
}
.no{
	transform: scale(0);
}
.yes{
	transform: scale(1);
}
.nav{
	padding: 10px !important
}
.nav ul{
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0 !important
}
.nav ul li{
	list-style: none;
	display: inline-block;
	font-size: 16px;
}
.nav ul li a{
	text-decoration: none;
	color: inherit;
	padding: 0px 10px;
}
.clickable{
	transition-duration: 0.15s;
	font-weight: bold;
	cursor: pointer;
}
.clickable:hover{
	color: #26baff
}
.container{
	width: 1028px !important;
}
.btn{
	border-radius: 0 !important
}
.swiper-container{
	margin-top: 30px !important;
	height: 400px;
}
.swiper-slide{
	height: 400px !important;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	overflow: hidden;
	padding: 0 !important;
}
.tp-slide{
	background: rgba(0,0,0,0.6);
	height: 100%;
	display: flex;
}
.title-section{
	height: 200px;
	align-self: flex-end;
}
.title-slide{
	text-transform: uppercase;
	text-shadow: 0px 0px 20px #1e1e1e;
	font-weight: bold;
	padding:  0 !important;
	font-size: 35px;
}
.news-slide{
	margin-top: 15px;
	padding: 0 !important
}
.btn-read{
	margin-top: 45px;
	transition-duration: 0.5s;
}
.btn-read:hover{
	color: #fafafa;
	background-color: #3498db;
}
.np{
	position: absolute;
	margin-top: -35px;
	float: right;
	right: 0;
	z-index: 9999 !important;
}
.np button{
	z-index: 999 !important;
	border-radius: 0 !important;
	margin: 0 !important
}
.bg-black{
	background: #1e1e1e;
}
.bg-white{
	background: white
}
.bg-blue{
	background: #26baff;
}
.bg-red{
	background: #e53935;
}
.bg-orange{
	background: #ff9800;
}
.bg-grey{
	background: #cccccc;
}
.clr-white{
	color: white
}
.clr-black{
	color: #1e1e1e;
}
.clr-blue{
	color:  #26baff
}
.ads{
	margin-top: 30px;
	width: 728px;
	height: 90px;
	display: inline-block;
}
#box-swiper{
	padding: 0 !important
}
.card-news{
	margin-bottom: 30px;
	min-height: 200px;
	padding: 0px !important;
}
.card-news .news{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card-news:hover .title-news{
	color: #26baff;
}
.box-img-news{
	overflow: hidden;
	background: red;
	padding: 0 !important
}
.box-img-news img{
	height: 200px;
	object-fit: cover;
	padding: 0 !important
}
.category{
	padding: 2px ;
	text-transform: uppercase;
}
.title-news{
	margin: 5px 0 !important;
	padding: 0px !important;
	text-transform: uppercase;
	font-weight: bold;
	transition-duration: 0.25s
}
.title-news a{
	color: inherit;
	text-decoration: none;
}
.main-author{
	padding: 0 !important;
	margin-bottom: 10px !important;
}
.news{
	padding: 0 !important;
	margin-top: 10px;
	font-size: 15px;
	letter-spacing: 0.5px
}
.news p{
	line-height: 25px;
	color: #121212 !important;
	margin-bottom: 15px
}
.news iframe{
	width: 100% !important;
	height: 400px;
}
.box-ads-two{
	position: relative;
	border: 1px solid #e1e1e1;
	display: inline-block;
	margin-bottom: 20px;
	width: 250px;
	height: 250px;
}
.main-more{
	border:2px solid #26baff;
	padding: 20px;
	margin-bottom: 15px;
	margin-top:15px;
}
.card-more{
	height: 130px;
	padding: 0 !important;
	margin-top: 20px;
	overflow-y: hidden;
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat !important;
	cursor: pointer;
}
.card-more a,.card-more a:hover{
	text-decoration: none;
	color: #fafafa !important;
	align-self: center;
}
.bg-tp{
	position: absolute;
	background: rgba(0,0,0,0.5);
	min-height: 50px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	bottom: 0;
	transition: 0.15s;
	transition-timing-function: ease-in-out;
	display: flex;
	align-items: center;
}
.card-more:hover .bg-tp{
	background: rgba(0,0,0,0.8);
	min-height: 100%;
}
.main-pag{
	padding: 0 !important;
}
.pagination li a{
	color: white;
	background: #1e1e1e;
}
.pagination li a:hover{
	color: white !important;
	background-color: #000 !important;
}
.pagination li.pag-active a{
	background-color: #26baff !important;
}
.upper{
	text-transform: uppercase;
}
.title-detail{
	font-size: 35px;
	padding: 0 !important
}
.body-news{
	margin-top: 25px;
}
.box-img-det{
	padding: 0 !important;
	height: 500px;
}
.box-img-det img{
	height: auto;
	padding: 0 !important
}
.share-news{
	margin-top: 25px;
	padding: 0 !important
}
.hm{
	padding: 0 !important;
	font-size: 20px;
	font-weight: bold;
}
.main-share{
	margin-top: 25px;
}
.main-share button{
	background: transparent;
	border:2px solid #1e1e1e;
}
.main-tag{
	margin-top: 20px;
}
.main{
	padding:  0 !important;
	margin-top: 30px
}
.box-profile{
	margin-top: 25px;
	padding: 15px !important
}
.img-profile{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	overflow: hidden;
	border:2px solid #1e1e1e;
}
.img-profile img{
	padding: 0 !important;
	height: auto;
}
.writer{
	font-size: 20px;
	font-weight: bold;
}
.main-box-more{
	padding: 0 10px;
}
.comment{
	margin-top: 25px;
}
.comment textarea{
	height: 150px
}
.comment button{
	margin-top: 15px
}
#main-logo{
	margin-top: 30px
}
#main-logo img{
	width: 200px
}
footer{
	margin-top: 50px;
}
.copy{
	margin-top: 80px
}
.footer-logo{
	width: 120px
}
.slide-menu{
	position: fixed;
	height: 100%;
	width: 80%;
	z-index: 99999;
	padding: 15px 25px;
	overflow-y: scroll;
}
.slide-menu img{
	width: 100px;
	margin-top: 20px
}
.tp-black{
	background: rgba(0,0,0,0.75);
	z-index: 999;
	position: fixed;
	height: 100%;
	width: 100%	
}
.slide-menu ul{
	padding: 0;
	font-size: 18px;
	margin-top: 50px;
}
.eks{
	font-size: 12px !important
}
.slide-menu ul li{
	padding: 10px 0;
	list-style: none;
}
.slide-muncul{
	transform: translateX(0);
}
.slide-ilang{
	transform: translateX(-120%);
}
.bg-muncul{
	display: block;
}
.bg-ilang{
	display: none;
}